$defaultTagBackgrounds: #81c8be, #e78284, #8caaee, #ef9f76, #6b69d6;
$defaultTagColors: #fff, #fff, #fff, #fff, #fff;


/*
*   Global style
*   big thanks to catppuccin community for their awesome palette ref
*   https://catppuccin.com/palette/
*/
:root {
  --body-background: #f5f5fa;

  --accent-color: #34495e;
  --accent-color-darker: #2c3e50;
  --accent-color-text: #fff;
  --body-text-color: #707070;

  &[data-scheme="dark"] {
    --body-background:#181825;
    --body-text-color: rgba(138, 154, 254, 0.8);
    --accent-color: hsl(232deg, 99%, 77%);
    --accent-color-darker: hsl(231deg, 97%, 69%);
    --accent-color-text: #000;
  }
}

/**
*   Global font family
*/
:root {
  --sys-font-family: "CenturyGothic", "AppleGothic", -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
  --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";

  --base-font-family: "Century Gothic", var(--sys-font-family), var(--zh-font-family), sans-serif;
  --code-font-family: Menlo, Monaco, Consolas, "Courier New", var(--zh-font-family), monospace;
}

/*
*   Card style
*/
:root {
  --card-background: #fff;
  --card-background-selected: #eaeaea;

  --card-text-color-main: #000;
  --card-text-color-secondary: #747474;
  --card-text-color-tertiary: #767676;
  --card-separator-color: rgba(218, 218, 218, 0.5);


  &[data-scheme="dark"] {
    --card-background: #181825;
    --card-background-selected: rgba(30, 30, 46, 0.16);
    --card-text-color-main: rgba(145, 215, 227, 0.8);
    --card-text-color-secondary: rgba(145, 215, 227, 0.6);
    --card-text-color-tertiary: rgba(145, 215, 227, 0.5);
    --card-separator-color: rgba(30, 30, 46, 0.12);
  }
}

/**
*   Article content font settings
*/
:root {
  --article-font-family: var(--base-font-family);
  --article-font-size: 1.6rem;

  @include respond(md) {
    --article-font-size: 1.85rem;
  }

  --article-line-height: 1.85;
}

/*
*   Article content style
*/
:root {
  --blockquote-background-color: rgb(248 248 248);

  --link-background-color: rgb(138, 154, 254);
  --link-background-opacity: 0.5;
  --link-background-opacity-hover: 0.7;

  --pre-background-color: #272822;
  --pre-text-color: #f8f8f2;

  --code-background-color: rgba(0, 0, 0, 0.12);
  --code-text-color: #808080;

  --table-border-color: #dadada;
  --tr-even-background-color: #efefee;

  --kbd-border-color: #89dceb;

  &[data-scheme="dark"] {
    --code-background-color: #24273a;
    --code-text-color: #a6e3a1;
    --table-border-color: #89dceb;
    --tr-even-background-color: #181825;
    --blockquote-background-color: #24273a;
  }
}

/*
*   Shadow style
*   Thanks to https://www.figma.com/community/plugin/744987207861965946/Shadow-picker
*/
:root {
  --shadow-l1: 0px 4px 8px rgba(138, 154, 254, 0.06), 0px 0px 2px rgba(138, 154, 254, 0.08), 0px 0px 1px rgba(138, 154, 254, 0.06);
  --shadow-l2: 0px 10px 20px rgba(138, 154, 254, 0.2), 0px 2px 6px rgba(138, 154, 254, 0.2), 0px 0px 1px rgba(138, 154, 254, 0.2);
  --shadow-l3: 0px 10px 20px rgba(138, 154, 254, 0.06), 0px 2px 6px rgba(138, 154, 254, 0.2), 0px 0px 1px rgba(138, 154, 254, 0.06);
  --shadow-l4: 0px 24px 32px rgba(138, 154, 254, 0.06), 0px 16px 24px rgba(138, 154, 254, 0.2), 0px 4px 8px rgba(138, 154, 254, 0.06),
  0px 0px 1px rgba(138, 154, 254, 0.06);
}

[data-scheme="light"] {
  --pre-text-color: #272822;
  --pre-background-color: #fafafa;
  @import "partials/highlight/light.scss";
}

[data-scheme="dark"] {
  --pre-text-color: #a6e3a1;
  --pre-background-color: #24273a;
  /*
  Code block style changed via hugo.toml
   */
  @import "partials/highlight/dark.scss";
}

.article-content {
  text-align: center;
  ol {
    text-align: left;
    list-style-position: inside;

  }
  ul {
    list-style-position: inside;
    text-align: center;
  }
  dl {
    text-align: left;
  }
}
