$defaultTagBackgrounds: #81c8be, #e78284, #8caaee, #ef9f76, #6b69d6;
$defaultTagColors: #fff, #fff, #fff, #fff, #fff;

/*
Self-hosted fonts
Thanks: https://gwfh.mranftl.com/fonts
 */
/* atkinson-hyperlegible-next-200 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Atkinson Hyperlegible Next';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-200.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* atkinson-hyperlegible-next-200italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Atkinson Hyperlegible Next';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-200italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-200italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* atkinson-hyperlegible-next-300 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Atkinson Hyperlegible Next';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* atkinson-hyperlegible-next-300italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Atkinson Hyperlegible Next';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-300italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-300italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* atkinson-hyperlegible-next-regular - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Atkinson Hyperlegible Next';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* atkinson-hyperlegible-next-italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Atkinson Hyperlegible Next';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* atkinson-hyperlegible-next-500 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Atkinson Hyperlegible Next';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* atkinson-hyperlegible-next-500italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Atkinson Hyperlegible Next';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-500italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* atkinson-hyperlegible-next-600 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Atkinson Hyperlegible Next';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* atkinson-hyperlegible-next-600italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Atkinson Hyperlegible Next';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-600italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-600italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* atkinson-hyperlegible-next-700 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Atkinson Hyperlegible Next';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* atkinson-hyperlegible-next-700italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Atkinson Hyperlegible Next';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-700italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* atkinson-hyperlegible-next-800 - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Atkinson Hyperlegible Next';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-800.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* atkinson-hyperlegible-next-800italic - latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Atkinson Hyperlegible Next';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-800italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('/fonts/atkinson-hyperlegible-next-v4-latin-ext-800italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}



/*
*   Global style
*   big thanks to catppuccin community for their awesome palette ref
*   https://catppuccin.com/palette/
*/
:root {
  --body-background: hsl(220deg, 21%, 86%);
  --accent-color: hsl(180, 100%, 26%);
  --accent-color-darker: rgba(130, 46, 239, 0.5);
  --accent-color-text: #fff;
  --body-text-color: rgba(79, 24, 155, 0.9);


  /** originals

   */

  &[data-scheme="dark"] {
    --body-background:#1e1e2e;
    --body-text-color: rgba(138, 154, 254, 0.9);
    --accent-color: hsl(232deg, 99%, 77%);
    --accent-color-darker: hsl(231deg, 97%, 69%);
    --accent-color-text: #000;
  }
}

/**
*   Global font family
*   --sys-font-family: 'Atkinson Hyperlegible Next', "AppleGothic", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue";
*   --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
*   --base-font-family: 'Atkinson Hyperlegible Next', var(--sys-font-family), var(--zh-font-family), sans-serif;
*/
:root {
  --sys-font-family: 'Atkinson Hyperlegible Next', 'Tahoma', sans-serif;
  --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";

  --base-font-family: 'Atkinson Hyperlegible Next', 'Tahoma', sans-serif;
  --code-font-family: Menlo, Monaco, Consolas, "Courier New", var(--zh-font-family), monospace;
}

/*
*   Card style
*/
:root {
  --card-background: #dce0e8;
  --card-background-selected: #dce0e8;
  --card-text-color-main: #434660;
  --card-text-color-secondary: #4c4f69;
  --card-text-color-tertiary: #5a5d7a;
  --card-separator-color: rgba(218, 218, 218, 0.5);


  &[data-scheme="dark"] {
    --card-background: #1e1e2e;
    --card-background-selected: rgba(30, 30, 46, 0.16);
    --card-text-color-main: rgba(145, 215, 227, 0.9);
    --card-text-color-secondary: rgba(145, 215, 227, 0.7);
    --card-text-color-tertiary: rgba(145, 215, 227, 0.7);
    --card-separator-color: rgba(30, 30, 46, 0.12);
  }
}

/**
*   Article content font settings
*/
:root {
  --article-font-family: var(--base-font-family);
  --article-font-size: 1.6rem;

  @include respond(md) {
    --article-font-size: 1.85rem;
  }

  --article-line-height: 1.85;
}

/*
*   Article content style
*/
:root {
  --blockquote-background-color: rgba(0, 133, 133, 0.15);

  --link-background-color: rgb(138, 154, 254);
  --link-background-opacity: 0.5;
  --link-background-opacity-hover: 0.7;

  --pre-background-color: #303446;
  --pre-text-color: #f8f8f2;

  --code-background-color: #303446;
  --code-text-color: #a6e3a1;

  --table-border-color: rgba(0, 133, 133, 0.3);
  --tr-even-background-color: rgba(0, 133, 133, 0.1);

  --kbd-border-color: #89dceb;

  &[data-scheme="dark"] {
    --code-background-color: #303446;
    --code-text-color: #a6e3a1;
    --table-border-color: rgba(137, 220, 235, 0.1);
    --tr-even-background-color: rgba(137, 220, 235, 0.05);
    --blockquote-background-color: rgba(137, 220, 235, 0.05);
  }
}

/*
*   Shadow style
*   Thanks to https://www.figma.com/community/plugin/744987207861965946/Shadow-picker
*/
:root {
  --shadow-l1: 0px 4px 8px rgba(138, 154, 254, 0.06), 0px 0px 2px rgba(138, 154, 254, 0.08), 0px 0px 1px rgba(138, 154, 254, 0.06);
  --shadow-l2: 0px 10px 20px rgba(138, 154, 254, 0.2), 0px 2px 6px rgba(138, 154, 254, 0.2), 0px 0px 1px rgba(138, 154, 254, 0.2);
  --shadow-l3: 0px 10px 20px rgba(138, 154, 254, 0.06), 0px 2px 6px rgba(138, 154, 254, 0.2), 0px 0px 1px rgba(138, 154, 254, 0.06);
  --shadow-l4: 0px 24px 32px rgba(138, 154, 254, 0.06), 0px 16px 24px rgba(138, 154, 254, 0.2), 0px 4px 8px rgba(138, 154, 254, 0.06),
  0px 0px 1px rgba(138, 154, 254, 0.06);
}

[data-scheme="light"] {
  --pre-text-color: #f8f8f2;
  --pre-background-color: #303446;
  @import "partials/highlight/light.scss";
}

[data-scheme="dark"] {
  --pre-text-color: #a6e3a1;
  --pre-background-color: #303446;
  /*
  Code block style changed via hugo.toml
   */
  @import "partials/highlight/dark.scss";
}

//Centers article content with exceptions
.article-content {
  font-family:  "Atkinson Hyperlegible Next", "Tahoma", sans-serif;
  font-weight: 400;
  text-align: center;
  ol {
    text-align: left;
    list-style-position: inside;

  }
  ul {
    list-style-position: inside;
    text-align: left;
  }
  dl {
    text-align: left;
  }
}

body {font-family: "Atkinson Hyperlegible Next", "Tahoma", sans-serif;}
